<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img
        class="img-responsive"
        src="https://cdn.discordapp.com/attachments/965882397306523728/965910592391094352/pngegg.png"
        alt="logo"
        height="120"
        width="120"
      />
    </a>

    <p *ngIf="this.name != null">Bonjour {{this.name | uppercase}}</p>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end mx-3"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
        <li class="nav-item px-5 dropdown">
          <a class="nav-link text-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Ajouter une course</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownmenuButton1">
            <li class="dropdown-item nav-link"><a class="nav-link" href="#" routerLink="/addride">Ajouter une course ponctuelle</a></li>
            <li class="dropdown-item nav-link"><a class="nav-link" href="#" routerLink="/addregularride">Ajouter une course régulière</a></li>
          </ul>          
        </li>
        
        <li class="nav-item px-5">
          <a class="nav-link text-warning" routerLink="/profile">Mon profil</a>
        </li>


        <li *ngIf="this.role == 'admin'" class="nav-item px-5 dropdown">
          <a class="nav-link text-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Outils Administrateur</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownmenuButton1">
            <li class="nav-item px-5">
              <a *ngIf="this.role == 'admin'" class="nav-link" routerLink="/delete-users">Gestion des utilisateurs</a>
            </li>
            <li class="nav-item px-5">
              <a *ngIf="this.role == 'admin'" class="nav-link" routerLink="/delete-rides">Supprimer une course</a>
            </li>
          </ul>          
        </li>
        

        <li class="nav-item px-5" *ngIf="isConnect() == false">
          <button class="btn btn-primary" routerLink="/login">Connexion</button>
        </li>

        <li *ngIf="isConnect()" class="nav-item px-5">
          <button class="btn btn-danger" (click)="onLogout()">Déconnexion</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
