<div class="container">

    <!-- En-tête -->

  <h1 class="mt-4 mb-4 text-center">Tous les chemins mènent à IPIPOE</h1>

  <!-- Début formulaire de recherche -->

  <div class="card mb-3 bg-info">
    <div class="card-body">
      <form (ngSubmit)="searchRide(formSearchRide)" #formSearchRide="ngForm">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="departure_zip_code"
            ngModel
            placeholder="Code Postal"
          />
        </div>

        <div class="form-group">
          <input type="date" class="form-control" name="departure_date" placeholder="Date de départ" ngModel>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Fin formulaire de recherche -->

  <!-- Début résultats de recherche -->

  <div class="row" *ngFor="let r of ride">
    <div class="col-sm-8">
      <div class="card m-4" style="max-width: 700px">
        <div class="row g-0">
          <div class="col-sm-4">
            <img
              src="https://cdn.discordapp.com/attachments/965882397306523728/976769049029644308/Sans_titre_9_-removebg-preview.png"
              alt=""
              class="mx-auto my-auto img-fluid rounded-start"
            />
          </div>
          <div class="col-sm-8">
            <div class="card-body row">
              <div class="col-sm-7">
                <p class="text-info">Date de départ :</p>
                <p class="text-info">Lieu de départ :</p>
                <p class="text-info">Heure de départ :</p>
                <p class="text-info">Nombre de places :</p>
              </div>
              <div class="col-sm-5">
                <p>{{ r.date }}</p>
                <p style="text-transform: capitalize">
                  {{ r.departure_city }} {{ r.departure_zip_code }}
                </p>
                <p>{{ r.times }}</p>
                <p>{{ r.seats }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fin résultats de recherche -->

</div>
