<div class="container ">     
    <div class="col-6 border-dark mx-auto card h-100 justify-content-center mt-5 ">                
        <p class="card-text">Prénom : {{user.first_name}}</p>
        <p class="card-text">Nom : {{user.last_name}}</p>
        <p class="card-text">Email : {{user.email}}</p>  
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
             Afficher votre mot de passe
            </button>
        </p>
            <div class="collapse" id="collapseExample">           
                <p class="card-text">Password : {{user.password}}</p>              
            </div>                                           
    </div>  
</div>    

<div class="container ">     
    <div class="col-3 border-light mx-auto justify-content-center mt-4 ">                        
            <button class="btn btn-primary nav-link" type="button" routerLink="/">
             Modifier mes informations
            </button>       
    </div>  
</div>    
       