<div class="main">
	<h2 class="mb-4 pt-4 text-center">Vos demandes reçues : </h2>
	<div class="container">
		<div class="row justify-content-center mt-3" *ngFor="let ride of rides">
			<div class="col-sm-6">
				<div class="card shadow">
					<div class="card-body">
						<p>Départ : {{ride.displayDepartureAddress}}</p>
						<p>Arrivée : {{ride.displayArrivalAddress}}</p>
						<div class="d-flex justify-content-between">
							<button (click)="openReceivedDemands(ride.id)" type="button" class="btn btn-secondary"
								data-toggle="modal" data-target="#exampleModal">Voir les demandes</button>
							<button (click)="deleteRideDriver(ride.id)" type="button" class="btn btn-danger">Supprimer le
								trajet</button>
						</div>
					</div>
				</div>
			</div>
			<!---- Début Pop up ---->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Demandes reçues</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<!-- ******Début fenetre demandes****** -->
							<div class="row justify-content-center mt-3 " *ngFor="let demand of demands">
								<div class="col">
									<div class="card shadow-sm ">
										<div class="card-body">
	
											<p>Passager : {{demand.display_user_name}}</p>
                      <p>Email : {{demand.email}}</p>
											<div class="d-flex justify-content-between">
												<button (click)="acceptDemand(demand.id, ride.id)"
													class="btn btn-primary">Accepter</button>
												<button (click)="declineDemand(demand.id, ride.id)"
													class="btn btn-danger">Refuser</button>
											</div>

										</div>
									</div>
								</div>
							</div>
							<!-- ******Fin fenetre demandes******* -->
						</div>
					</div>
				</div>
			</div>
			<!---- Fin Pop up-->
		</div>
	</div>
</div>
