<div class="container">
    <h1 class="text-center text-info mt-4 mb4">Ajouter une course : </h1>
    <!--(ngSubmit)="save_ride(ride)" #ride="ngForm"-->
    <form (ngSubmit)="save_ride(ride)" #ride="ngForm">
        <div class="form-group">
            <label>Code postal :</label> 
            <input type="number" class="form-control" placeholder="entrer CP" name="departure_zip_code" ngModel>
        </div>
        <div class="form-group">
           <label>Ville de départ :</label> 
           <input type="text" class="form-control" placeholder="entrer ville" name="departure_city" ngModel>
        </div>
        <div class="form-group">
            <label>Code postal :</label> 
            <input type="number" class="form-control" placeholder="entrer CP" name="arrival_zip_code" ngModel>
        </div>
        <div class="form-group">
            <label>Ville d'arrivée :</label> 
            <input type="text" class="form-control" placeholder="entrer ville" name="arrival_city" ngModel>
         </div>
         <div class="form-group">
            <label>nombre de places disponibles :</label> 
            <input type="number" class="form-control" placeholder="entrer places" name="number_seats" ngModel>
        </div>
        <div class="form-group">
            <label>Année :</label> 
            <input type="number" class="form-control" placeholder="entrer année" name="year" ngModel>
        </div>
        <div class="form-group">
            <label>Mois :</label> 
            <input type="number" class="form-control" placeholder="entrer mois" name="month" ngModel>
        </div>
        <div class="form-group">
            <label>Jour :</label> 
            <input type="number" class="form-control" placeholder="entrer jour" name="day" ngModel>
        </div>
        <div class="form-group">
            <label>Heure :</label> 
            <input type="number" class="form-control" placeholder="entrer heure" name="hour" ngModel>
        </div>
        <div class="form-group">
            <label>Minute :</label> 
            <input type="number" class="form-control" placeholder="entrer min" name="minute" ngModel>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Valider mon produit</button>
    </form>
</div>
