.main {
	background-image: url('https://cdn.discordapp.com/attachments/965882397306523728/983730315170316329/city-4679928_1920.png');
	background-position: center;
}

form {
	background-color: white;
}