
<div class="main py-3">
    <div class="container">
        <h2 class=" mt-4 mb-2 text-center">Mon profil : </h2>
        <div class="text-center" >
            <img src="https://cdn.discordapp.com/attachments/965882397306523728/983736776952774696/avatar-1968236_1280-removebg-preview.png"  style="max-width: 10%" alt="">
        </div>
        <div class="mt-1 mb-4">
            <div class="col-6 shadow-sm mx-auto card h-100 row align-items-center">                                
                <a class="nav-link " routerLink="/passenger-demands">Mes demandes de trajets</a> 
                <a class="nav-link " routerLink="/demands-received">Mes demandes reçues</a> 
                <a class="nav-link " routerLink="/information-user">Mes informations</a>      
            </div>                
        </div>
    </div>
</div>

        