<h2 class=" mt-4 mb-4 text-center">Mon profil : </h2>
<div class="container mt-5">
    <div class="col-6 shadow-sm mx-auto card h-100 row align-items-center">                                
        <a class="nav-link " routerLink="/passenger-demands">Mes demandes de trajets</a> 
        <a class="nav-link " routerLink="/demands-received">Mes demandes reçues</a> 
        <a class="nav-link " routerLink="/information-user">Mes informations</a>      
    </div>                  
</div>    
        